@model LuzzedroCMS.Models.CommentsWithArticlesViewModel
@using LuzzedroCMS.WebUI.Properties

@foreach (var commentWithArticle in Model.CommentWithArticleViewModel)
{
    <div class="panel panel-default">
        <div class="panel-body">
            @commentWithArticle.Comment.Date
            |
            @commentWithArticle.Comment.Content.Substring(0, commentWithArticle.Comment.Content.Length > 200 ? 240 : commentWithArticle.Comment.Content.Length)
            @if (commentWithArticle.Comment.Content.Length > 200)
            {
                <span>...</span>
            }
            <p>@Html.RouteLink(Resources.GoToArticle, "Article", new { url = commentWithArticle.Article.Url })</p>
        </div>
    </div>
}

<div>
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Comments", new { controller = "User", action = "Comments", page = x }))
</div>