<span class="fb-like fb-social-box"
      data-href="@HttpContext.Current.Request.Url.AbsoluteUri"
      data-layout="button"
      data-action="like"
      data-size="large"
      data-show-faces="false">
</span>