@using LuzzedroCMS.WebUI.Properties

<span class="fb-share-button fb-social-box"
      data-href="@HttpContext.Current.Request.Url.AbsoluteUri"
      data-layout="button_count"
      data-size="large"
      data-mobile-iframe="true">
    <a class="fb-xfbml-parse-ignore"
       target="_blank"
       href="#">
        @Resources.Share
    </a>
</span>